/*
    CSS for DotEd (Screen)
*/

body {
    color: #333333; /* default text colour */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  touch-action: none; /* avoid browser level touch actions */
}

.panel-left {
  flex: 0 0 auto;
  min-width: 350px;
  max-width: 80%; /* ensures the left panel can't be extended beyond viewport bounds */
  white-space: nowrap;
  background: #FFFFFF;
}

.splitter {
  flex: 0 0 auto;
  width: 5px;  
  /*background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;*/
  background-color: #248fd5;
  height: auto;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  width: 100%;
  background: #f9fafb;
}

.panel-header {
    background-color: #f9fafb;
    border-bottom: 1px solid #e3e5e5;
    display: flex;
    align-items: center;
    justify-content: left;
}

.panel-header h2 {
    color: #888888;
    font-size: 24px;
    font-weight: 400;
    margin: 20px;
    padding: 0;
}

.panel-content {
    margin: 0 8px 0 0; /* Margin right to account for splitter */
    height: 100%;
}

.panel-content .code-editor {
    width: 100%;
    min-height: 300px;
    border: none;
    resize: none;
}