body {
    color: #333333; /* default text colour */
    font-family: 'Roboto', sans-serif;
}

#flex-container {
    display: grid;
    border: 1px solid silver;
    overflow-x: hidden;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    background-color: #f9fafb;

}

#mytext {
    min-width: 300px;
    border: none;
    overflow-x: scroll;
    border-right: 1px solid #e3e5e5;
    grid-column-start: 1;
    grid-row-start: 2;
}

#inner-right {
    background-color: #f9fafb;
    grid-column-start: 2;
    grid-row-start: 2;
}

.title-area {
    /* justify-content: space-between; */
    border-bottom: 1px solid #e3e5e5;
    grid-row: 1;
}

.title-area h2 {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.buttons {
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.buttons button {
    background-color: #e0e1e2;
    border: none;
    color: #4c4c4c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 0 3px;
}

.buttons button:hover {
    cursor: pointer;
    background-color: #63acdc;
    color: white;
}

.buttons button:active {
    background-color: #57a0d0;
}

.buttons button:focus {
    outline: 0; /* Disables default browser outline when clicking down on a button */
}

polygon {
    fill: transparent;
}

.node ellipse {
    fill: white;
}

.left {
    grid-column-start: 1;
    border-right: 1px solid #e3e5e5;
}

.right {
    grid-column-start: 2;
}
