body {
    font-family: 'Roboto', sans-serif;
}

#flex-container {
    display: flex;
    align-items: stretch;
    border: 1px solid black;
    overflow-x: hidden;
}

#inner-left {
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

#inner-left textarea {
    min-width: 300px;
    border: none;
    flex-grow: 1;
    overflow-x: scroll;
}

#inner-right {
    flex-grow: 1;
}

.title-area {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-bottom: 1px solid lightgray;
}

.title-area h2 {
    margin-left: 10px;
}

.buttons {
    margin-right: 10px;
    margin-left: 10px;
}

.buttons button {
    background-color: #e0e1e2;
    border: none;
    color: #4c4c4c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    padding: 8px 10px;
    margin: 0 3px;
}

.buttons button:hover {
    cursor: pointer;
    background-color: #63acdc;
    color: white;
}

.buttons button:active {
    background-color: #57a0d0;
}

.buttons button:focus {
    outline: 0; /* Disables default browser outline when clicking down on a button */
}